/* ESTILOS GERAIS / RESET */

* {
    box-sizing: border-box;
}

body, p, h1, h2, ul, li {
    padding: 0;
    margin: 0;
}

body {
    background: #fff0dc;
    font-family: 'Playfair Display', serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1b1a1a;
}

img {
    max-width: 100%;
}

/* GRID GERAL / ESTRUTURA */

.estrutura {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "content content"
    "footer footer"
    ;
    max-width: 960px;
    margin: 0 auto;
}

/* RESPONSIVO GRID GERAL / ESTRUTURA */ 

@media (max-width: 620px) {
    
    .estrutura {
        grid-template-columns: auto;
        grid-template-areas: 
        "header"
        "content"
        "footer"
        ;
    }
}

@media (max-width: 415px) {
    
    .estrutura {
        max-width: 260px;
    }
}

/* HEADER */

.header {
    grid-area: header;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header-logo img {
    max-width: 150px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: #1b1a1a;
    transition: 0.2s;
    font-size: 1.2em;
}

.header nav a:hover {
    border: 1px solid  rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.header ul li + li {
    margin-left: 20px;
}

/* RESPONSIVO HEADER */

@media (max-width: 650px) {
    
    .header {
        grid-template-columns: auto;
        justify-items: center;
    }

    .header-logo {
        margin-bottom: 10px;
    }

    .header-logo img {
        display: block;
        margin: 0 auto;
    }

    .header nav a {
        padding: 4px;
    }
}

@media (max-width:415px) {
    
    .header {
        max-width: 260px;
    }

    .header nav a {
        font-size: 20px;
    }

    .header ul li + li {
        margin-left: 5px;
    }
}

/* CONTENT */

/* coleção liberdade */

.content {
    grid-area: content;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.content p {
    font-size: 1.5em;
    max-width: 400px;
    color: #1b1a1a;
}

.paragrafo-pecas-resp {
    display: none;
}

.liberdade-img {
    max-width: 100%;
    border: 2px solid #1b1a1a;
}

.col-wide {
    grid-column: 1 / -1;  /* O item com essa classe ocupa as colunas de ponta a ponta */
}

.titulo.col-wide h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #1b1a1a;
}

.titulo.col-wide h1 span {
    font-style: italic;
}

/* outras coleções */

.chamada-colecoes.col-wide h2 {
    text-align: center;
    max-width: 600px;
    font-size: 2em;
    color: #1b1a1a;
    margin: 30px auto;
}

div.outras-colecoes {
    max-height: 500px;
}

img.outras-colecoes-img {
    max-width: 100%;
    border: 2px solid #1b1a1a;
}

.outras-colecoes h3 {
    position: relative;
    top: -65px;
    right: 1px;
    font-size: 1.3em;
    color: #1b1a1a;
    background: #ffe5c2;
    max-width: 200px;
    border-radius: 1px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #f0d7b6;
    box-shadow: 2px 2px 5px rgba(52, 52, 52, .2);
    transition: 0.2s;
}

.outras-colecoes h3:hover {
    color: #c49960;
}

/* redes sociais */

.chamada-redes.col-wide h2 {
    text-align: center;
    font-size: 2em;
    color: #1b1a1a;
    margin-bottom: 30px;
}

.icones-redes.col-wide{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.icones-redes.col-wide img {
    max-width: 100px;
    margin: auto 50px;
    transition: 0.2s;
    padding: 5px;
}

.icones-redes.col-wide img:hover {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}

/* RESPONSIVO CONTENT */

@media (max-width: 750px) {

    .content p {
        font-size: 1.2em;
        max-width: 500px;
    }

    .icones-redes.col-wide img {
        margin: auto 10px;
    }
}

@media (min-width: 561px) and (max-width: 650px) {
    
    .content p {
        font-size: 1em;
        max-width: 500px;
        line-height: 30px;
    }
}

@media (max-width: 560px) {
    
    .content {
        grid-template-columns: auto;
    }

    .content p {
        font-size: 1.2em;
        text-align: center;
        margin: 10px auto;
    }

    .paragrafo-pecas {
        display: none;
    }

    .paragrafo-pecas-resp {
        display: block;
    }

    .liberdade-img {
        max-width: 300px;
    }

    .titulo.col-wide h1 {
        font-size: 2em;
    }

    .chamada-colecoes.col-wide h2 {
        max-width: 400px;
        font-size: 1.5em;
        margin-top: 10px;
    }

    div.outras-colecoes {
        height: 350px;
    }

    img.outras-colecoes-img {
        max-width: 300px;
    }

    .chamada-redes.col-wide h2 {
        font-size: 1.8em;
    }

    .icones-redes.col-wide img {
        max-width: 80px;
        margin: auto 10px;
    }
}

@media (max-width: 415px) {
    
    .titulo.col-wide h1 {
        font-size: 1.5em;
    }
    
    .content {
        max-width: 260px;
    }

    .content p {
        font-size: .8em;
        max-width: 260px;
        line-height: 25px;
    }

    .titulo.col-wide h1 {
        max-width: 260px;
        font-size: 1em;
        margin-bottom: 10px;
    }

    .liberdade-img {
        max-width: 200px;
    }

    .chamada-colecoes.col-wide h2 {
        max-width: 260px;
        font-size: 1em;
        margin-bottom: 10px;
    }

    div.outras-colecoes {
        max-width: 260px;
        height: 220px;
    }

    img.outras-colecoes-img {
        max-width: 200px;
    }

    .outras-colecoes h3 {
        top: -62px;
        right: 0px;
        font-size: 1em;
    }

    .chamada-redes.col-wide h2 {
        max-width: 260px;
        font-size: 1em;
        margin-bottom: 10px;
    }

    .icones-redes.col-wide img {
        max-width: 50px;
        margin: auto 5px;
    }
}

/* FOOTER */

.footer {
    grid-area: footer;
    text-align: center;
    color: #1b1a1a;
    margin-top: 30px;
    padding-bottom: 10px;
}

.footer-info {
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.footer-info p:first-child {
    margin-top: 20px;
}

.footer-info p:last-child {
    margin-bottom: 20px;
}

.footer-creditos p {
    margin-top: 20px;
    font-size: .8em;
}

.footer-creditos a {
    font-weight: bold;
}

/* RESPONSIVO FOOTER */


@media (max-width: 725px) {
    
    .footer-creditos {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    
    .footer-creditos {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 415px) {
    
    .footer {
        margin-top: 10px;
        max-width: 260px;
    }
    
    .footer-info {
        font-size: .8em;
    }
}